/* Created by Todd Shmayda on 2/13/2021 */
ul.topnav
{
		list-style-type: none;
		margin: 0;
		padding: 0;
		position:fixed; /*sticky*/
		top:0;
		width:100%;
		height: 50px;
		overflow:hidden; /*scrolling*/
		background-color:#410A86;
}
ul.topnav li
{
		float:left;
}
ul.topnav li a
{
		display:block;
		color:#D3D2F6;
		text-align:center;
		padding:14px 16px; 
		text-decoration: none;
}
ul.topnav li a:hover:not(.active)
{
	background-color:#83007D;
}
ul.topnav li a.active
{
	background-color:#83007D;
}
ul.topnav li.right
{
	float:right;
}
div.topnav
{
	padding:20px;
	margin-top:30px;
	height:1500px;
}
div.centerdiv
{
	text-align:center;
}
@media screen and (max-width: 600px)
{
	ul.topnav li.right, 
	ul.topnav li {float:none;}
}
body
{
	margin:0;
	background-color:#D3D2F6;
	font-family:courier, book antiqua, monospace;
	color:#320769;
}
h1
{
	font-family:verdana, arial, sans-serif;
	color:#83007D;
}
h2
{
	font-family:verdana, arial, sans-serif;
	color:#83007D;
}
h1.center
{
	text-align:center;
}
h2.center
{
	text-align:center;
}
h2.head2
{
	text-align:center;
	color:#670062;
}
h2.sub-header
{
	text-align:left;
	color:#670062;
}
h3.ProjectPageH3
{
	color:#670062;
}
h3.centerh3
{
	text-align:center;
	color:#670062;
}
hr.ProjectPageHR
{
	border-color:green;
	background-color:#410A86;
	height:2mm;
}
table
{
	border-color:#410A86;
	background-color:#8555C1;
	border:1px solid black;
	border-collapse: collapse;
	width:100%;
	margin:auto;
	margin:5px 5px 5px 5px;
}
table.center
{
	text-align:center;
}
td
{
	border:1px solid black;
}
td.thirtyThreePercent
{
	width: 33%;
}
td.seventyFivePercent
{
	width: 75%;
}
p.padding
{
	padding:0px 1px 0px 10px;
}
ul.ulpadding
{
	padding:10px 20px 10px 50px;
}
img
{
	margin:10px;
}
a:visited
{
	color:#0E0C6C;
	background-color:transparent;
	text-decoration:none;
}
a:hover
{
	color:#15138A;
	background-color:transparent;
	text-decoration:underline;
}
a:active
{
	color:#670062;
	background-color:transparent;
	text-decoration:underline;
}